


// Typography
$font-family-sans-serif: "Nunito", sans-serif;



// Colors
$blue: #3297c4;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$bg-light-green: #444943;
$bg-green: #323630;
$bg-dark-green: #2d312b;
$black: #000000;

$brand-red: #d64a44;
$brand-yellow: #eebb00;
$brand-blue: #0096c6;

$font-heading-display: 'Press Start 2P', cursive;