
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,700,700i|Press+Start+2P');

// Variables
@import 'variables';
$font-size-base: 0.9rem;
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.text-blue{
  color: $blue;
}
.text-purple{
  color: $purple;
}
.text-pink{
  color: $pink;
}
.text-red{
  color: $red;
}
.text-green{
  color: $green;
}
.text-orange{
  color: $orange;
}
.text-yellow{
  color: $yellow;
}
.text-cyan{
  color: $cyan;
}
.text-teal{
  color: $teal;
}

.cursor-pointer{cursor: pointer;}
